//캘린더

.react-calendar {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "S-CoreDream", sans-serif;
  border: none;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  

  button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: --sub-color;
    border-radius: 0.5rem;
  }
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: --sub-color;
  font-size: 0.85rem;
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none; // 👈 점선 밑줄 제거
  cursor: default;       // 선택 커서 제거 (선택)
}

.react-calendar__tile {
  border-radius: 8px;
  height: 40px;
  padding: 0.25rem;
  transition: 0.2s;
  font-size: 0.85rem;
  border: none;
}

.react-calendar__tile--now {
  background: var(--point2-color);
  color: var(--text-color);
  font-weight: bold;
  &:hover{
    filter: brightness(110%);
  }
}
.react-calendar__month-view__days__day--weekend{
  color: var(--point2-color);
}
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd,
.react-calendar__tile--active,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus  {
  background-color: var(--point-color);
  color: var(--text-color);
}

.react-calendar__tile--active{
  background-color: var(--point-color);
  &:hover{
    filter: brightness(110%);
  }
}
.react-calendar__tile--active:enabled:focus{
  background-color: var(--point-color);
}